* {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
  margin: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

/* header */
nav {
  display: flex;
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
  padding: 1.6rem 2.5rem;
  align-items: center;
}

#airbnb-logo {
  width: 140px;
}
/* header */

/* hero */
#hero {
  margin: 5rem 3.5rem;
}

#hero-photo-grid {
  display: block;
  margin: 0 auto;
  width: 1200px;
}

#hero > #hero-text-title {
  font-size: 3.25rem;
  margin-top: 80px;
}

#hero > #hero-text-description {
  font-size: 1.65rem;
  font-weight: lighter;
  width: 43%;
}
/* hero */

/* cards */
.cards {
  display: flex;
  margin: 2rem 3.5rem;
  gap: 2rem;
  overflow-x: auto;
}

#cards-section {
  width: 20.5rem;
  flex: 0 0 auto;
  position: relative;
}

#cards-section:hover {
  opacity: 0.7;
  transition-duration: 1s;
}

#cards-section > p {
  margin: 0;
  width: 100%;
  font-size: 1.1rem;
}

#cards-section > p > .bold-text {
  font-weight: bold;
}

.cards-image {
  border-radius: 9px;
  width: 100%;
}

.cards-rating {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 6px;
}

.cards-rating > img {
  height: 100%;
}

.cards-rating > p {
  font-size: 1.1rem;
  margin: 0;
}

.cards-rating > p > .grey-text {
  color: #918E9B;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

/* cards */